@import "tailwindcss";

:root {
  --background: #1B1F3B;
  --foreground: #1B1F3B; /* texte blanc pour contraster */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {a
  :root {
    --background: #0a0a0a;
    --foreground: #1B1F3B;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1A0B2E;
}

.navbar {
  width: 100%;
  max-width: 1980px;
  height: 113px;
  background-color: #1A0B2E; /* violet Figma */
  opacity: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}
